/* Body Layout */

body {
    position: relative;
    min-height: 100vh;
}

/* Header Layouts */

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
}

/* Intro Layouts */

#intro {
    text-align: center;
    padding-top: 100px;
}

.introImages {
    display: inline-block;
    margin: 0 auto;
}

#logo {
    height: 200px;
    width: auto;
}

#portrait {
    padding-left: 60px;
    height: 500px;
    width: auto;
}

/* Main Body Layouts */

#container {
    margin: 0 auto;
    width: 80%;
    height: auto;
    padding-bottom: 50px;
}

#interview-container {
    width: 80%;
    margin: 50px auto;
    background-color: #EEEEEE;
    padding: 1rem;
    border-radius: 1rem;
}

#interview {
    width: 100%;
    height: 100%;
}

#interview>button {
    width: 100%;
}

/* Footer Layouts */

footer {
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    width: 100%;
    height: auto;
}

footer p {
    text-align: center;
    margin: auto 0;
}