@font-face {
    font-family: SouthernAire;
    src: url("../assets/font/southern_aire.ttf") format("truetype");
    font-stretch: expanded;
}

html::-webkit-scrollbar {
    display: none;
}

html, body {
    background-color: var(--white);
    -ms-overflow-style: none;
}

h1, p {
    color: var(--white);
}

/* Header Styles */
header {
    background-color: var(--red);
}

header h1 {
    font-family: SouthernAire, sans-serif;
    text-align: center;
    font-size: 60px;
}

/* Main Body Styles */
#container p {
    font-size: 20px;
    color: var(--red);
    text-align: justify;
    /*background-color: var(--red);*/
}

/* Footer Styles */
footer {
    background-color: var(--red);
}
